{% extends 'base.html' %}
{% load static %}

<!-- Title Block -->
{% block title %}Pretraga aktivnih poslova{% endblock %}

<!-- Main Block -->
{% block content %}
<main role="main" id="index-page" class="container">
    <!-- Logo -->
    <div id="logo" class="row">
        <div class="col-12">
            <a href="{% url 'jobs:index' %}">
                <img src="{% static 'logo.png' %}" />
            </a>
        </div>
    </div>

    <!-- Search Form -->
    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <form id="search-form" action="{% url 'jobs:results' %}" method="get" autocomplete="off">
                    <input type="hidden" name="sf" value="1" />
                    <input type="text" name="q" id="search-query" class="form-control" placeholder="Pretraga" />
                    <span class="input-group-btn">
                        <button type="button" disabled>
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>

    <!-- Description -->
    <div id="desc" class="row">
        <div class="col-12">
            <span>Želite posao u IT industriji?</span><br/>
            <span>Pretražite <b>{{ jobs_count }}</b> aktivnih IT poslova na našem sajtu i pronađite sebi posao iz snova!</span>
        </div>
    </div>

    <!-- Sources -->
    <div id="sources" class="row">
        <div class="col-12">
            <span>Izvori:</span>
            <div id="sources-wrapper">
                {% for s in sources %}
                    <a href="{{ s.url }}" target="_blank" style="text-decoration: none;">
                        <img src="{% static s.large_image_path %}" style="margin-bottom: 3px" title="{{ s.name }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{# Search Input Autocomplete #}
{% block script %}
    {% include 'autocomplete_script.html' %}
{% endblock %}

